@import 'tailwindcss';

/* Initialise theme variables - custom utilities */

@font-face{
    font-family: 'DM Sans';
    src: url('/assets/fonts/DM_Sans/DMSans-VariableFont_opsz,wght.ttf'), format('truetype')
}

@theme {
    --color-neutral900: #12131A;
    --color-neutral800: #21222c;
    --color-neutral700: #2a2b37;
    --color-neutral600: #404254;
    --color-neutral200: #e4e4ef;
    --color-neutral100: #f2f2f7;
    --color-white: #fff;
    --color-purple400: #d3a0fa;
    --color-purple500: #c27cf8;
    --color-orange500: #ff9f00;
    --color-red500: #fe8159;
    --color-red800: #da3701;
    --font-primary: 'DM Sans', sans-serif
}

@layer base{
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background: transparent;
        font-family: var(--font-primary) ;
        font-size: var(--text-base);
        text-decoration: none;
        list-style: none;
        border: none;
    }

    html, body, #root{
        min-height: 100dvh;
    }
}

